<div class="ssk-group">
  <a target="_blank" href="https://twitter.com/intent/tweet?text=One%20short%20agile%20tip%20a%20day%20delivered%20to%20your%20email%20%28invite-only%29%3A%20http%3A%2F%2Fwww.agiletipaday.com%2F%3Fref%3D<%= @user.ref_code %>%20%23agile&source=webclient" class="ssk ssk-twitter"></a>
  <a target="_blank" href="https://www.linkedin.com/cws/share?url=http://www.agiletipaday.com/?ref=<%= @user.ref_code %>" class="ssk ssk-linkedin"></a>
  <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.agiletipaday.com%2F%3Fref%3D<%= @user.ref_code %>" class="ssk ssk-facebook"></a>
  <a target="_blank" href="mailto:?subject=Thank%20me%20later&body=Hi%20there,%0A%0ATake%20a%20look%2C%20what%20I%27ve%20hunted.%20An%20invite-only%20service%20for%20a%20community%20of%20agilists.%20One%20short%20curated%20agile%20tip%20a%20day%20delivered%20to%20your%20email.%0A%0AHere%20is%20the%20invite%20link%20for%20you%3A%20%0Ahttp%3A%2F%2Fwww.agiletipaday.com%2F%3Fref%3D<%= @user.ref_code %>%0A%0AThank%20me%20later" class="ssk ssk-email"></a>
</div>
