<div class="container">

  <div class="row">
    <div class="col-lg-10 col-lg-offset-2 text-center">
      <h1>Success! Check your email!</h1>
      <p class="lead">Check your email (<b><%= @user.email %></b>). The next agile tip will be delivered tomorrow. You will receive new tips and ideas every weekday to start your day off right.</p>
      <hr />
      <p>
        <h6>Next Steps:</h6>
        <ol>
          <li>
            <b>Join Slack</b><br />
            You are also now invited to our exclusive slack community. Check your email.<br />
            Please keep the topics focused on agile practices.<br />
          </li>
          <li>
            <b>Invite Agilists</b><br />
            Open access to our community for your friends, colleagues, and teams. Share your personal invitation link. <br />
            <section class="col-lg-8 invite-link">
              <figure class="highlight">
                <pre>
                  <div class="zero-clipboard"><span data-clipboard-text="http://www.agiletipaday.com/?ref=<%= @user.ref_code %>" class="btn-clipboard click-to-copy">Copy</span></div>
                  <b>http://www.agiletipaday.com/?ref=<%= @user.ref_code %></b>
                </pre>
              </figure>
            </section>
          </li>
        </ol>
      </p>
    </div>
  </div>

</div>
