<section class="home-container">
  <div class="home-body">
    <div class="container">
      <div class="row home-row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">One Agile Tip A Day</h1>
          <p class="home-text">Short, curated agile ideas delivered to your email every day. 96% retention rate.</p>
        </div>

        <% if @referral %>
          <%= render "sign_up" %>
        <% else %>
          <%= render "not_invited" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
