development:
  secret_key_base: 4160d46f164e299050983f5fa379b5095fe72b31b3c2b65ea24e9f641caa2bf10461e68799c302a0a999a723d274f732dab99e775f6ec0f0513040987e6ce6f9
  database_url: <%= ENV['DATABASE_URL'] %>

test:
  secret_key_base: 5691938541cc55526341999d18d2c22bd160f60b5668bb7873fc421fc63e87072da0d25176902e2fd854f6977642d7e2c0ce6897c1df3e5904041eb87a33d0ca

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  aws_access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
  aws_secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>
  aws_s3_bucket: <%= ENV['AWS_BUCKET'] %>
  database_url: <%= ENV['DATABASE_URL'] %>
  slack_token: <%= ENV['SLACK_TOKEN'] %>
