// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width: 1200px)  {
  .home {
    .form-large input, .form-large  button{
      font-size: 35px;
      width: 750px;
    }
  }
}

@media (max-width: 768px)  {
  .home-container {
    .container {
      transform: translateY(10%) !Important;
    }

    .form-large input, .form-large button {
      font-size: 20px;
    }
  }
}

.home {
  color: #fff;
  background-color: #282828;

  .glyph-ban-circle {
    top: 4px;
  }

  .email-button {
    padding: 0 15px;
    input {
      width: 100%;
    }
  }

  .signup-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px 15px;
  }

  h2 {
    color: #A94442;
  }

  h4.acceptance {
    color: #5CB85C;
  }
  .home-container {
    width: 100%;
    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    text-align: center;
    color: #fff;
    background: image-url('bg.jpg') no-repeat bottom center scroll;
    background-color: #282828;
  }

  @media(min-width:768px) {
    .alert-bg {
      opacity: 0.5;
    }
    .home-container {
      height: 100%;
      padding: 0;
    }

    .home-container .home-body .brand-heading {
      font-size: 65px;
    }

    .home-container .home-body .home-container-text {
      font-size: 23px;
    }
  }

  @media(max-width:768px) {
    .home-row {
      margin-top: 0;
    }
    .alert-bg {
      opacity: 0.9;
    }
  }

}
