@media (max-width: 768px)  {
  .users.welcome {
    .container {
      transform: translateY(0%) !Important;
    }
  }
}
.users.welcome {
  background-color: #E9EAED;

  .container {
    transform: translateY(30%);
    .col-lg-10 {
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
      background-color: #FFF;
    }
    p.lead, ol, h6 {
      text-align: left;
    }
  }

  h6 {
    margin: 0;
  }

  ol {
    padding-left: 18px;
    font-size: 18px;
    li {
      padding-top: 15px;
    }
  }

  .zero-clipboard {
    position: relative;
    top: -18px;
  }

  .btn-clipboard {
    float: right;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
  }

  .btn-clipboard-hover {
    color: #fff;
    background-color: #008EDC;
    border-color: #007cdc;
  }

  .invite-link {
    margin-left: -15px;
    pre {
      padding: 0;
    }

    b {
      padding-left: 5px;
      text-align: left;
      display: inline-block;
    }
  }

}
